.add-load-section {
    height: 500px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-load-container {
    height: 400px;
    width: 100%;
    background-color: rgb(79, 79, 109);
}

.open-form-btn{
    width: 200;
}
