.add-load-section {
    height: 500px;
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-load-container {
    height: 400px;
    width: 96%;
    border-radius: 6px;
    background-color: #434343;
}

.form-btn {
    width: 95vw;
    height: 50px;
    border-radius: 6px;
    margin: 10px;
    color: #ffffff;
    font-size: large;
    letter-spacing: 4px;
    text-transform: uppercase;
    outline: none;
}

.form-btn-open {
    background-color: #434343;
    outline: 0;
}

.form-btn-close {
    background-color: #555454;
    outline: 0;
}
