.add-load-section {
    height: 400px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-load-button {
    width: 150px;
    height: 100px;
}

.add-load-container {
    height: 300px;
    width: 100%;
    background-color:#232
}
