.add-load-section {
    height: 500px;
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-load-container {
    height: 400px;
    width: 96%;
    border-radius: 6px;
    background-color: #434343;
}

.form-btn {
    width: 95vw;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin: 10px;
    color: black;
    font-size: large;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.form-btn-open {
    opacity: 0.3;
    border: none;
}

.form-btn-close {
    opacity: 0.5;
    border: none;
}
