.form-container {
    display: flex;
justify-content: ;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-element {
    margin: 5px;
}

.form-button {
    width: 100px;
    height: 20px;
}
