.form-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-element {
    margin: 5px;
    padding: 3px;
    width: 500px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    background-color: #555454;
    color: #ffffff;
}

.form-button {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

.form-confirmation {
font-size: ;
}
