.showOffer-section {
    height: 500px;
    width: 100%;
    background-color: brown;
    display: flex;
}

.showOffer-section > h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
    letter-spacing: 4px;
    text-transform: uppercase;;
}
