.showOffer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242424;
    box-sizing: border-box;
}

.showOffer-section > h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
    margin-left: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.showOffer-container {
    color: #ffffff;
}

.showOffer-field {
    margin: 5px;
    display: block;
}
