.showOffer-section {
    height: 500px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
}

.showOffer-section > h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
