* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* fonts */
  p

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
  }

  h2{
    color: #ffffff;
  }

  h3 {
    color: #ffffff;
  }